##############
### NodeJS ###
##############
node_modules

################
### IntelliJ ###
################
.idea
*.iml

##########################
### Distribution files ###
##########################
dist
